<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>handy-HTML.com - Create a simple CSS dropdown menu</title>


</head>

<body>

<div class="bar">
<ul id="dropmenu">
    <li class="topmenu"><a href="index" >Home</a></li>
    <li class="topmenu"><a href="blog" >Blog</a></li>
    <li class="topmenu"><a href="#" >Bioplastics</a>
        <ul>
            <li><a href="recipes">Recipes</a></li>
            <li><a href="results">Results</a></li>
        </ul>
    </li>
    <li class="topmenu"><a href="#" >Soft Sensors</a>
        <ul>
            <li><a href="SS_Introduction">Introduction</a></li>
            <li><a href="SS_kit">Basic Kit</a></li>
            <li><a href="SS_techniques">Techniques</a></li>
            <li><a href="SS_basic">Simple Sensors</a></li>
            <li><a href="SS_inuse">Example Projects</a></li>
        </ul>
    </li>
    <li class="topmenu"><a href="#" >About Us</a>
        <ul>
            <li><a href="about">About Winterns</a></li>
        </ul>
    </li>
</ul>
</div>

</body>
</html>