<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>handy-HTML.com - Create a simple CSS dropdown menu</title>


</head>

<body>


<ul id="dropmenu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Portafolio</a>
        <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Logo Design</a></li>
            <li><a href="#">Blog Design</a></li>
        </ul>
    </li>
    <li><a href="#">Projects</a>
        <ul>
            <li><a href="#">This is a project</a></li>
            <li><a href="#">So is this</a></li>
            <li><a href="#">and this</a></li>
            <li><a href="#">don't forget this too</a></li>
        </ul>
    </li>
    <li><a href="#">Contact</a>
        <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">Quote</a></li>
            <li><a href="#">General Enquiry</a></li>
        </ul>
    </li>
</ul>


</body>
</html>